<div fxlatout="row wrap" fxLayoutAlign="start center" style="padding-left:-30px">
    <img style="margin-right:10px" src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg">
    <img style="margin-right:10px" src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
    <img style="margin-right:10px" src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
    <img style="margin-right:10px" src="../../../assets/photo_FILL0_wght400_GRAD0_opsz48.svg">
    <img style="margin-right:10px" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg">
    <div>
        <button mat-icon-button [matMenuTriggerFor]="menu"  >
            <mat-icon><img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item style="margin-top: -20px;padding: -20px;" (click)="Trashnote()">delete note </button>
            <button mat-menu-item style="margin-top: -20px;padding: -20px;">add label </button>
        </mat-menu>
    </div>

</div>